<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/login_off_layout.html}">

<head>
    <meta charset="utf-8" />
    <title>SKB DOMS</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <!-- page-body -->
    <div class="page-body page-login page-find-password">
        <!-- local -->
        <div id="local">
            <!-- local-head -->
            <div class="local-head">
                <h2 class="local-subject" id="localSubject"><span class="local-name">로그인</span></h2>
            </div>
            <!-- //local-head -->
            <!-- local-body -->
            <div class="local-body">
                <!-- content -->
                <div id="content">
                    <!-- content-head -->
                    <div class="content-head">
                        <h3 class="content-subject" id="contentSubject"><span class="content-name">비밀번호 변경</span></h3>
                        <p class="content-summary" style="width: auto;">사용할 비밀번호를 입력하여 주세요.</p>
                    </div>
                    <!-- //content-head -->
                    <!-- content-body -->
                    <form class="content-body" id="frm" name="frm" th:object="${user}"  method="post" th:action="@{/search/change/password}" onsubmit="return false">
                        <!-- submit-form -->
                        <input type="hidden" id="12" name="admNo" th:value="${admNo}">
                        <fieldset class="submit-form module-b style-a type-c large-6x">
                            <legend>로그인정보 입력 서식</legend>
                            <div class="form-list">
                                <div class="form-item">
                                    <div class="form-wrap">
                                        <div class="form-head">
                                            <p class="form-subject"><label for="passwd" class="form-name">새로운 비밀번호</label>
                                        </div>
                                        <div class="form-body">
                                            <div class="form-area">
                                                <span class="form textfield module-b style-b type-fill normal-01 large-6x flex">
                                                    <input type="password" class="form-elem" id="passwd" name="passwd" maxlength="16" placeholder="8~16자리의 영문, 숫자, 특수문자 조합 가능" data-bui-form-cancel="true" />
                                                </span>
                                            </div>
                                            <p id="msgPasswd" class="form-noti"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-util">
                                <!-- button-display -->
                                <div class="button-display">
                                        <span class="button-area">
                                            <button id="btnSave" type="submit" class="btn module-b style-b type-fill accent-01 large-6x flex disabled">확인</button>
                                        </span>
                                </div>
                                <!-- //button-display -->
                            </div>

                        </fieldset>
                    </form>
                    <!-- //content-body -->
                </div>
                <!-- //content -->
            </div>
            <!-- //local-body -->
        </div>
        <!-- //local -->
    </div>
    <!-- //page-body -->
</div>
</body>
</html>
<script th:src="@{/js/user/change.password.js}"></script>


