<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
    <meta charset="utf-8" />
    <title>Promo Sense</title>
</head>
<body>
<th:block th:fragment="header">
    <div id="skip" class="page-skip">
        <a class="skip-item" href="#content">본문 바로가기</a>
    </div>

    <!-- page-head -->
    <div class="page-head" id="header">
        <h1 class="page-subject" id="pageSubject">
            <a class="page-name" th:href="@{/}">
                <svg width="200" height="70" xmlns="http://www.w3.org/2000/svg">
                    <text x="10" y="40" font-family="Arial, sans-serif" font-size="30" fill="#333">
                        PromoSense
                    </text>
                </svg>
            </a>
        </h1>
        <div class="section page-account" sec:authorize="isAuthenticated()">
            <div class="section-wrap">
                <div class="section-head">
                    <h2 class="section-subject"><span class="section-name">사용자 메뉴</span></h2>
                </div>
                <div class="section-body">
                    <p class="para" th:text="${#authentication.principal.admName}">홍길동(hong)님</p>
                    <ul class="navi-list">
                        <li class="navi-item profile"><a class="navi-name" th:href="@{/myinfo.do?acl=M0000}">내 정보 조회</a></li>
                        <li class="navi-item logout"><a class="navi-name"  href="javascript:logout()">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //section -->
    </div>
</th:block>
</body>
</html>