<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/settings_layout.html}">

<head>
    <meta charset="utf-8" />
    <title>SKB DOMS</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="local-body">
        <!-- content -->
        <div id="content">
            <!-- content-body -->
            <div class="content-head">
                <h3 class="content-subject" id="contentSubject"><span class="content-name">Title</span></h3>
            </div>
            <!-- //content-body -->

            <!-- content-path -->
            <div class="content-path">
                <!-- section-->
                <div class="section breadcrumb">
                    <div class="section-wrap">
                        <div class="section-head">
                            <p class="section-subject"><strong class="section-name">위치정보</strong></p>
                        </div>
                        <div class="section-body">
                            <!-- data-display -->
                            <div class="data-display">
                                <div class="data-list">
                                    <div class="data-item">
                                        <div class="data-wrap">
                                            <div class="data-head"><a class="data-name" href="#">홈</a></div>
                                        </div>
                                    </div>
                                    <div class="data-item">
                                        <div class="data-wrap">
                                            <div class="data-head"><a class="data-name" href="#">캠페인</a></div>
                                        </div>
                                    </div>
                                    <div class="data-item">
                                        <div class="data-wrap">
                                            <div class="data-head"><a class="data-name" href="#">캠페인 만들기</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //data-display -->
                        </div>
                    </div>
                </div>
                <!-- section-->
            </div>
            <!-- //content-path -->

            <!-- content-body -->
            <div class="content-body">
                Contents
            </div>
            <!-- //content-body -->
        </div>
        <!-- //content -->
    </div>
</div>


</body>
</html>