<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Promo Sense</title>
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="SK브로드밴드 B다이렉트샵, DOMS" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/module.global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/page.login.css}" />

    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/assets/js/bui.js}"></script>
    <script th:src="@{/assets/js/bui.template.js}" defer></script>
</head>
<body>
<div id="wrap">
    <!-- page -->
    <div id="page">
        <!-- page-head -->
        <div class="page-head" id="header">
            <h1 class="page-subject" id="pageSubject">
                <a class="page-name" href="/">
                    <svg width="200" height="70" xmlns="http://www.w3.org/2000/svg">
                        <text x="10" y="40" font-family="Arial, sans-serif" font-size="30" fill="#333">
                            PromoSense
                        </text>
                    </svg>

                </a>
            </h1>
        </div>
        <!-- //page-head -->
        <hr />
        <!-- page-body -->
        <div class="page-body page-intro">
            <!-- local -->
            <div id="local">
                <div class="local-head">
                    <h2 class="local-title" id="localTitle"><span class="local-name" href="#">로그인</span></h2>
                </div>
                <!-- local-body -->
                <div class="local-body">
                    <!-- content -->
                    <div id="content">
                        <!-- content-body -->
                        <form class="content-body" id="frm" th:object="${user}" th:action="@{/login}" method="POST" onsubmit="return false;">
                            <!-- info-board -->
                            <div class="info-board module-a style-a type-c">
                                <div class="board-wrap">
                                    <div class="board-head">
                                        <p class="board-subject"><span class="board-name">환영합니다</span></p>
                                        <p class="board-summary"><strong class="em normal-03"> Marketing Systems</strong></p>
                                    </div>
                                </div>
                            </div>
                            <!-- //info-board -->
                            <!-- submit-form -->
                            <fieldset class="submit-form module-c style-d large-6x">
                                <legend>로그인정보 입력 서식</legend>
                                <div class="form-list">
                                    <div class="form-item">
                                        <div class="form-wrap">
                                            <div class="form-head">
                                                <p class="form-subject"><label for="userId" class="form-name">아이디</label></p>
                                            </div>
                                            <div class="form-body">
                                                <div class="form-area"><span class="form textfield module-b style-b type-fill normal-01 large-6x flex">
                                                    <input type="text" class="form-elem" id="admId" name="admId" placeholder="아이디" th:field="*{admId}" data-bui-form-cancel="true" />
                                                </span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="form-wrap">
                                            <div class="form-head">
                                                <p class="form-subject"><label for="userPassword" class="form-name">비밀번호</label></p>
                                            </div>
                                            <div class="form-body">
                                                <div class="form-area"><span class="form textfield module-b style-b type-fill normal-01 large-6x flex">
                                                    <input type="password" class="form-elem" id="passwd" name="passwd" placeholder="비밀번호" th:field="*{passwd}" data-bui-form-cancel="" />
                                                </span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="form-wrap">
                                            <div class="form-body">
                                                <div class="form-area">
                                                    <label class="form checkbox module-a style-a small-3x accent-01">
                                                        <input type="checkbox" id="remember" name="remember" class="form-elem" checked="checked" /> <span class="form-text">아이디 저장</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-util">
                                    <!-- button-display -->
                                    <div class="button-display">
										<span class="button-area">
											<button type="submit" id="btnLogin" class="btn module-b style-b type-fill accent-01 large-6x flex">로그인</button>
										</span>
                                        <span class="button-area">
											<a class="btn module-c style-b type-line normal-01 large-6x flex" th:href="@{/signup}">계정신청</a>
										</span>
                                    </div>
                                    <!-- //button-display -->
                                </div>
                            </fieldset>
                            <!-- //submit-form -->
                            <!-- section -->
                            <div class="section ip-account">
                                <div class="section-wrap">
                                    <div class="section-head">
                                        <h4 class="section-subject"><span class="section-name">인증 IP 및 계정 찾기</span></h4>
                                    </div>
                                    <div class="section-body">
                                        <p class="para accent-02">인증 IP: <th:block th:text="${#request.getRemoteAddr()}"></th:block></p>
                                        <ul class="navi-list">
                                            <li class="navi-item"><a class="navi-name" th:href="@{/search/id}">아이디 찾기</a></li>
                                            <li class="navi-item"><a class="navi-name" th:href="@{/search/password}">비밀번호 찾기</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- //section -->
                            <!-- info-board -->
                            <div class="info-board module-a style-a type-c">
                                <div class="board-wrap">
                                    <div class="board-body">
                                        <div class="data-list module-b style-a type-a normal-02 small-4x">
                                            <p class="data-item">아이디 또는 비밀번호에 대한 정보는 유컴패니온에 문의하시기 바랍니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //info-board -->
                        </form>
                        <!-- //content-body -->
                    </div>
                    <!-- //content -->
                </div>
                <!-- //local-body -->
            </div>
            <!-- //local -->
        </div>
        <!-- //page-body -->
        <hr />
        <!-- page-foot -->
        <div class="page-foot" id="footer">
            <p class="copyright">COPYRIGHT&copy; SKB DOMS All Rights reserved.</p>
        </div>
        <!-- //page-foot -->
    </div>
    <!-- //page -->
</div>
<th:block th:replace="~{fragments/info.popup :: info_popup}" />
<th:block layout:fragment="script">
    <script th:src="@{/js/login/login.js}"></script>
    <script th:inline="javascript">
        const isError = [[${#fields.hasErrors('${user}')}]];
        const errorMsg = [[${#fields.errors('${user}')}]];
        if(isError) {
            window.onload = function() {
                Modal.alert(errorMsg);
            };
        }
    </script>
</th:block>
</body>
</html>